<div class="container-fluid">
  <div class="show">
    <show> </show>
  </div>

  <div class="intro">
      <h3>Roseville Pool Service <small>- Links</small></h3>
      <hr>
      
      <section>
          <div>
              <ul>
                  <li>
                    <a href="http://www.askalanaquestion.com/" target="new">
                    <b>AskAlanAQuestion.Com . . . help with pool and spa water problems and information!!!</b></a>: Excellent information, questions and answers to many problems with swimming pools - algae, staining, .....
                  </li>
                  <li><a href="http://www.ipssa.com/" target="new">
                    <b>IPSSA</b></a>: web site of the 
                    Independent Pool and Spa Service Association, Inc.
                  </li>
                  <li><b>
                    <a target="new" href="http://www.rocklintoday.com/">
                    Rocklin &amp; Roseville Today</a></b>:&nbsp; Offers 
                    community news, a business directory and yellow pages.
                  </li>
              </ul>
          </div>
      </section>
  </div>
</div>