<div itemscope itemtype="http://schema.org/Product" class="container-fluid">
  <div class="show">
    <show> </show>
  </div>
  <div class="intro">
    <h3>
      <span itemprop="name">Roseville Pool Service</span>
      <small>
        - Swimming Pool Service in Roseville, Rocklin and Granite Bay, CA. Call <span>916-791-1221</span>.
      </small>
    </h3>
    <hr>
    <section itemprop="description">
      <p>We are a family operated business residing in Roseville, California.</p>
      <p>We offer exceptional quality weekly swimming pool maintenance and repair services, taking care of all your swimming pool needs or you can choose the service level that suits you best.</p>
      <p>You may find cheaper quotes, but no one will match the actual price per quality ratio that we deliver.</p>
      <p>We go above and beyond what is expected of your pool service provider. We never cut corners and, in addition to the weekly service you are receiving, we will always check to make sure your filter, pump and pool cleaner are running properly on a weekly basis in order to save you money in the long run and keep your pool in good condition. Typically, other pool service providers who send out different people each week will not do the little extras we do in order to ensure everything is okay with your pool and equipment.</p> 
      <p>We are licensed, bonded and have liability insurance. Contractor's D35 license # is 1005209. We can provide you with references.  We are currently servicing Roseville, Granite Bay and Rocklin.</p>
    </section>
  </div>
</div>
