<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <!--<div class="table-responsive">-->
      <div>
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr *ngFor="let poolTip of poolTips; let i = index">
            <td style="vertical-align:middle">{{ poolTip.poolTipName }}...</td>
            <td class="text-center" style="vertical-align:middle">
              <button (click)="setSelectedPoolTip(poolTip.poolTipID)" [ngClass]="{selected: isSelected(poolTip.poolTipID)}" class="btn btn-info">
                Read More
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
       
    <div class="col-xs-12 col-sm-7" #scrollElement>
      <div *ngFor="let poolTip of poolTips; let i = index" [style.display]="selectedPoolTipID==poolTip.poolTipID ? 'block':'none'" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ poolTip.poolTipName }}</h3>
        </div>

        <div class="panel-body">
          <div [innerHTML]="poolTip.poolTipContent"></div>
        </div>

        <div class="panel-footer">&nbsp;</div>
      </div>
    </div>
  </div>

</div>